mixin contacts()
  section.contacts
    .container
      h2.contacts__title.title!= "Наши контакты"
      ul.contacts__list
        li.contacts__item
          a(href="tel:84994724326", target="_blank").sublink
            +icon("icon-home-point", 15, 15)
            span!= "г. Рязань, Южный промузел, д. 6., стр. 4."
        li.contacts__item
          a(href="tel:84994724326").sublink
            +icon("icon-phone", 15, 15)
            span!= "8 (499) 472-4326"
        li.contacts__item
          a(href="mailto:zakaz@mfm-moscow.ru").sublink
            +icon("icon-mail", 15, 15)
            spna!= "zakaz@mfm-moscow.ru"
        li.contacts__item.contacts__socials
          a(href="tel:84994724326").social
            span.sublink__icon.icon.icon-14
            span.visually-hidden!= "8 (499) 472-4326"
          a(href="tel:84994724326").social
            span.sublink__icon.icon.icon-15
            span.visually-hidden!= "8 (499) 472-4326"
        li.contacts__item
          a(href="https://www.mfm-moscow.ru/", target="_blank").sublink
            +icon("icon-arrow-deg", 15, 15)
            spna!= "Основной сайта Московской фабрики мебели"

