mixin home-advantages()
  section.advantages
    h2.
    ul.advantages__list
      li.advantages__item
        span.advantage__icon-wrap
          span.advantage__icon.icon.icon-7
        h3.advantages__heading!= "Долговечность"
      li.advantages__item
        span.advantage__icon-wrap
          span.advantage__icon.icon.icon-8
        h3.advantages__heading!= "Качественные материалы"
      li.advantages__item
        span.advantage__icon-wrap
          span.advantage__icon.icon.icon-9
        h3.advantages__heading!= "Современное оборудование"
      li.advantages__item
        span.advantage__icon-wrap
          span.advantage__icon.icon.icon-10
        h3.advantages__heading!= "Индивидуальный пошив"
      li.advantages__item
        span.advantage__icon-wrap
          span.advantage__icon.icon.icon-11
        h3.advantages__heading!= "10 лет на рынке"
