mixin intro-about-us()
  section.promo
    .container.promo__inner
      h2.section__title.section__title--center.title!= "Компьютерная вышивка по индивидуальному дизайну"
      .section__wrap
        .section__video
          +video("Dp-f-4W7Ie4")
        .section__content
          p!= "«Московская Фабрика Мебели» (МФМ) предоставляет услуги по нанесению логотипов и других изображений при помощи компьютерной вышивки на любые ткани."
          p!= "Вышивка – это уникальный способ сделать ваше изделие индивидуальным, узнаваемым. С помощью компьютерной вышивки мы можем создавать любые по сложности рисунки. Мы используем современное японское оборудование."
          ul.promo-numbers
            li.promo-numbers__part.promo-numbers__part--wide
              p.promo-numbers__title!= "300 х 50 см"
              p.promo-numbers__text!= "размер наносимого изображения"
            li.promo-numbers__part
              p.promo-numbers__title!= "1000"
              p.promo-numbers__text!= "стежков в минуту"
            li.promo-numbers__part
              p.promo-numbers__title!= "500"
              p.promo-numbers__text!= "экземпляров за рабочую смену"


