mixin section-portfolio-two()
  section.section.section--grey.section--portfolio-two
    .container
      .section__intro
        h2.section__title.section__title--center!= "Партнеры, которые нам доверяют"
      p.section__content!= "«Московская Фабрика Мебели» (МФМ) уже изготовила и нанесла логотипы для:"
      .section__swiper-wrap
        .swiper
          .swiper-wrapper
            .swiper-slide
              .section__production-slide
                .portfolio-partner
                  .portfolio-partner__figure-box
                    +picture("slides", "pairs-1", "jpg", 167, 140, "Московский метрополитен")
                  h3.portfolio-partner__title!= "Московский метрополитен"
            .swiper-slide
              .section__production-slide
                .portfolio-partner
                  .portfolio-partner__figure-box
                    +picture("slides", "pairs-2", "jpg", 167, 140, "Рускеальский экспресс")
                  h3.portfolio-partner__title!= "Рускеальский экспресс"
            .swiper-slide
              .section__production-slide
                .portfolio-partner
                  .portfolio-partner__figure-box
                    +picture("slides", "pairs-3", "jpg", 167, 140, "Яндекс Такси")
                  h3.portfolio-partner__title!= "Яндекс Такси"
            .swiper-slide
              .section__production-slide
                .portfolio-partner
                  .portfolio-partner__figure-box
                    +picture("slides", "pairs-4", "jpg", 167, 140, "Tigarbo")
                  h3.portfolio-partner__title!= "Tigarbo"
            .swiper-slide
              .section__production-slide
                .portfolio-partner
                  .portfolio-partner__figure-box
                    +picture("slides", "pairs-5", "jpg", 167, 140, "ФК Локомотив")
                  h3.portfolio-partner__title!= "ФК Локомотив"
            .swiper-slide
              .section__production-slide
                .portfolio-partner
                  .portfolio-partner__figure-box
                    +picture("slides", "pairs-6", "jpg", 167, 140, "Газпром")
                  h3.portfolio-partner__title!= "Газпром"
            .swiper-slide
              .section__production-slide
                .portfolio-partner
                  .portfolio-partner__figure-box
                    +picture("slides", "pairs-7", "jpg", 167, 140, "ФК Оренбург")
                  h3.portfolio-partner__title!= "ФК Оренбург"
        button.section__control.section__control--prev(aria-label="Показать предыдущий слайд")
        button.section__control.section__control--next(aria-label="Показать следующий слайд")

      p.section__content!= "Благодаря многофункциональности швейного цеха мы можем предложить вам услуги по пошиву, раскрою, разработки лекал для любых видов ткани и материалов."
      h3.section__subtitle.section__subtitle--center!= "Предлагаем сотрудничество"
      ul.section__partnerships.partnerships
        li.partnerships__item!= "Госучреждениям"
        li.partnerships__item!= "Школам, ВУЗам, СУЗам"
        li.partnerships__item!= "Танцевальным коллективам"
        li.partnerships__item!= "Ателье"
        li.partnerships__item!= "Гостиницам, ресторанам"
        li.partnerships__item!= "Охранным организациям"
        li.partnerships__item!= "Спортивным клубам"
        li.partnerships__item!= "Рекламным агентствам"
        li.partnerships__item!= "Швейным организациям, занимающимся пошивом спецодежды"

