mixin section-contacts()
  section.section.section--contacts
    .container
      .section__parts
        .section__part-content
          .section__intro
            h2.section__title!= "Наши контакты"
          ul.contacts
            li.contacts__part
              a(href="https://yandex.ru/maps/-/CCUBaQqNCA", target="_blank").footer__link.link.link--icon
                +icon("icon-home-point", 15, 15).link__icon
                span!= "г. Рязань, Южный промузел, д. 6., стр. 4."
            li.contacts__part
              a(href="tel:84994724326").footer__link.link.link--icon
                +icon("icon-phone", 15, 15).link__icon
                span!= "8 (499) 472-4326"
            li.contacts__part
              a(href="mailto:zakaz@mfm-moscow.ru").footer__link.link.link--icon
                +icon("icon-mail", 15, 15).link__icon
                span!= "zakaz@mfm-moscow.ru"
            li.contacts__part.contacts__socials
              a(href="https://vk.com/mfm.moscow", target="_blank").link.link--sprite-icon.link--big
                span.link__sprite-icon.sprite-icon.sprite-icon-14
                span.visually-hidden!= "Группа в ВК"
              a(href="tel:84994724326").link.link--sprite-icon.link--big
                span.link__sprite-icon.sprite-icon.sprite-icon-15
                span.visually-hidden!= "8 (499) 472-4326"
            li.contacts__part
              a(href="https://www.mfm-moscow.ru/", target="_blank").footer__link.link.link--icon.link--red
                +icon("icon-arrow-deg", 15, 15).link__icon
                span!= "Основной сайта Московской фабрики мебели"

        .section__part-map#map

