mixin footer(footerMods)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      }
    ]

  footer.footer(class=footerMods)
    .container.footer__inner
      .footer__parts
        .footer__part
          if(currentUrl === "index.html")
            //- lighthouse снимает 10 баллов SEO за <a> без href
            span.footer__logo.logo
              span.logo__band
                img(src="/img/svg/logo-footer.svg", width=150, height=74, alt="Логотип: Московская фабрика мебели").logo__figure
                span.logo__title!= "Московская фабрика мебели"
              span.logo__subtitle!= "Швейный цех"
          else
            a.footer__logo.logo(href="index.html", aria-label="Переход на главную")
              span.logo__band
                img(src="/img/svg/logo-footer.svg", width=150, height=74, alt="Логотип: Московская фабрика мебели").logo__figure
                span.logo__title!= "Московская фабрика мебели"
              span.logo__subtitle!= "Швейный цех"
        .footer__part
          +btn({text: "Написать нам"})(data-open-modal="request").btn--shirink.footer__btn
        .footer__part.footer__part--right
          .footer__metrika
            span.sprite-icon.sprite-icon-16
          a(href="https://galaxydesign.ru/", target="_blank").link-studio
            span.link-studio__icon
              span.sprite-icon.sprite-icon-17
            span.link-studio__text <span>Создание сайта</span>&nbsp;— студия «Галактика»
