mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      }
    ]

  header.header(class=headerMods)
    .container.header__inner
      .header__parts
        .header__left
          if(currentUrl === "index.html")
            //- lighthouse снимает 10 баллов SEO за <a> без href
            span.header__logo.logo
              span.logo__band
                img(src="img/svg/logo-header.svg", width=150, height=74, alt="Логотип: Московская фабрика мебели").logo__figure
                span.logo__title!= "Московская фабрика мебели"
              span.logo__subtitle!= "Швейный цех"
          else
            a.header__logo.logo(href="index.html", aria-label="Переход на главную")
              span.logo__band
                img(src="img/svg/logo-header.svg", width=150, height=74, alt="Логотип: Московская фабрика мебели").logo__figure
                span.logo__title!= "Московская фабрика мебели"
              span.logo__subtitle!= "Швейный цех"
        .header__right
          .header__links
            a(href="mailto:zakaz@mfm-moscow.ru").header__mail.link.link--icon
              +icon("icon-mail", 15, 15).link__icon
              span!= "zakaz@mfm-moscow.ru"
            a(href="tel:84994724326").header__phone.link.link--icon
              +icon("icon-phone", 15, 15).link__icon
              span!= "8 (499) 472-4326"
          +burger("Показать главное меню", "nav", "main-nav--open")(data-target-id="nav", data-target-class-toggle="main-nav--open").header__toggler
        +main-nav('0').header__main-menu
