mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      }
    ]

  header.header(class=headerMods)
    .container.header__inner
      .header__parts
        .header__left
          if(currentUrl === "index.html")
            //- lighthouse снимает 10 баллов SEO за <a> без href
            span.header__logo.logo
              span.logo__band
                +img("svg", "logo", "svg", 150, 74, "Московская фабрика мебели").logo__img
                span.logo__name!= "Московская фабрика мебели"
              span.logo__subtitle!= "Швейный цех"
          else
            a.header__logo(href="index.html", aria-label="Переход на главную").logo
              span.logo__band
                +img("svg", "logo", "svg", 150, 74, "Московская фабрика мебели").logo__img
                span.logo__name!= "Московская фабрика мебели"
              span.logo__subtitle!= "Швейный цех"
        .header__right
          a(href="mailto:zakaz@mfm-moscow.ru").header__phone
            +icon("icon-mail", 15, 15)
            span!= "zakaz@mfm-moscow.ru"
          a(href="tel:84994724326").header__phone
            +icon("icon-phone", 15, 15)
            span!= "8 (499) 472-4326"
        +main-nav('0').header__main-nav
